html,body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    width: 500px;
}

.container {
    padding: 15px;
    padding-top: 0;
    max-height: 300px;
    overflow-y: scroll;
    border-top: 1px solid #ccc;
}

.main-options {
    position: relative;
}

.donate {
    border: 1px solid #ccc;
    background: #eee;
    padding: 15px 30px;
    text-align: center;
}

.donate a {
    display: inline-block;
    border: 1px solid #1326FD;
    color: #fff;
    background: #1326FD;
    padding: 8px 25px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.1rem;
}

.row {
    clear: both;
    overflow: hidden;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.row label {
    float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
    padding-top: 4px;
}

.cb-row {
    margin-left: 210px;
}

.cb-row label {
    text-align: left;
}

.license-toggle {
    display: block;
    text-align: right;
    margin-top: 20px;
}

#license {
    display: none;
    margin-top: 2rem;
}

.disclaimer {
    margin-top: 2rem;
    font-style: italic;
}
