html,body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

.license-toggle {
    display: block;
    text-align: right;
    margin-top: 20px;
}

#license {
    display: none;
    margin-top: 2rem;
}

.main-options {
    position: relative;
}

.donate {
    border: 1px solid #ccc;
    background: #eee;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.donate img {
    margin-top: 5px;
}
