html,body {
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem 0;
    background: #e0eeee;
}

.license-toggle {
    display: block;
    text-align: right;
    margin-top: 20px;
}

#license {
    display: none;
    margin-top: 2rem;
}

.card-block {
    position: relative;
}

.donate {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

@media (max-width:600px) {
    .donate {
        position: static;
        margin-left: 1rem;
    }
}
