html,body {
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem 0;
}

.main {
    background: #f7f7f9;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.license-toggle,
#license {
    display: block;
    margin-top: 20px;
}

.license-toggle {
    text-align: right;
}

#license {
    display: none;
}
