html, body {
	margin: 0 0 0 4px;
	padding: 0;
	overflow: hidden;
	-webkit-user-select: none;
}

body {
	font: 75% verdana, tahoma, arial, sans-serif;
	overflow-x: hidden;
}

#wrapper {
	min-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	width: 200px;
}

span {
	display: block;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	padding: 3px 3px 3px 21px;
	color: #444;
	overflow: hidden;
	text-overflow: ellipsis;
}

.folder > span {
	color: #000;
}

#loading {
	font-size: 1.1em;
	text-align: center;
	padding-top: 10px;
}

.folder.open > span:hover,
.folder > span:hover,
span:hover,
.selected > span {
	background-color: #eee;
	border-radius: 5px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	display: block;
}

.hidden {
    display: none;
}

.folder > span {
	color: #000;
	background-image: url(folder_closed.png);
	background-position: 0 3px;
	background-repeat: no-repeat;
}

.folder.open > span {
	background-image: url(folder_open.png);
}

.sub {
	padding: 0 0 0 20px;
	height: 0;
    overflow: hidden;
}

.folder.open > .sub {
    padding: 0 0 2px 20px;
}

.contextMenu, .contextMenu li {
	margin: 0;
	padding: 0;
}

.contextMenu {
	position: absolute;
	background: #eee;
	border: #ccc;
	border-radius: 5px;
	z-index: 10;
	padding: 5px;
	cursor: pointer;
}

.contextMenu li {
	border-radius: 5px;
	padding: 3px 5px;
}

.contextMenu li:hover {
	background: #aaa;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
}

#overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: none;
}

#overlayContents {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(200, 200, 200, 0.95);
    border-bottom: 1px solid #ccc;
    padding: 10px;
    z-index: 2;
}

#overlayContents .row {
    clear: both;
}

#overlayContents .question {
    margin-bottom: 20px;
}

#overlayContents .row label {
    width: 60px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    padding-top: 5px;
}

#overlayContents .row input {
    display: block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: calc(100% - 50px);
}

#overlayContents .actions {
}

.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:3px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    cursor: pointer;
}
.btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.btn:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.blue {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    border:1px solid #84bbf3;
    text-shadow:1px 1px 0px #528ecc;
    color: #fff;
}.blue:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#templates {
    display: none;
}
