// This file represents the light theme

$icon-size: 1rem;
$background-color: #fff;
$font-color: #000;
$selected-color: #eee;
$border-color: #888;
$primary-button-background: #378de5;
$primary-button-color: #fff;

@import '~dragula/dist/dragula.css';
@import 'themes/dark';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  background: $background-color;
  color: $font-color;
}

body {
  font: 75% verdana, tahoma, arial, sans-serif;
  overflow-x: hidden;
}

#wrapper {
  min-height: 12rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

span {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem 0.25rem 0.25rem 1.8rem;
  color: lighten($font-color, 27%);
  overflow: hidden;
  text-overflow: ellipsis;
}

#loading {
  font-size: 1.1em;
  text-align: center;
  padding-top: 1rem;
}

.selected > span {
  background-color: $selected-color;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: block;
}

.folder {
  & > span {
    color: #000;
    background-image: url(folder_closed.png);
    background-position: 0.5rem 0.25rem;
    background-repeat: no-repeat;
    background-size: $icon-size;
    vertical-align: 0.25rem;

    &:hover {
      background-color: #eee;
    }
  }

  &.open {
    & > span {
      background-image: url(folder_open.png);
    }

    & > .sub {
      padding: 0 0 0.2rem 2rem;
    }
  }
}

.bookmark {
  background-position: 0.5rem 0.25rem;
  background-repeat: no-repeat;
  background-size: $icon-size;

  &:hover {
    background-color: $selected-color;
  }
}

.sub {
  padding: 0 0 0 2rem;
  height: 0;
  overflow: hidden;
}

.contextMenu,
.contextMenu li {
  margin: 0;
  padding: 0;
}

.contextMenu {
  position: absolute;
  border: 1px solid $border-color;
  background: $background-color;
  z-index: 10;
  cursor: pointer;
  margin: 0.25rem 0;
  box-shadow: 0 0 1rem $border-color;

  hr {
    padding: 0;
    margin: 0.25rem 0;
    border: 0;
    border-bottom: 1px solid $selected-color;
  }

  li {
    padding: 0.25rem 1rem;

    &:hover {
      background: $selected-color;
    }
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
}

#overlayContents {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: $background-color;
  border-bottom: 1px solid $border-color;
  padding: 1rem;
  z-index: 2;

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    label {
      flex: 1;
      font-weight: bold;
    }

    input {
      flex: 1 1;
      background: $selected-color;
      border: 0;
      outline: none;
      padding: 0.25rem 0.5rem;
      font-family: inherit;
      margin-right: 2rem;
      border-bottom: 2px solid $background-color;

      &:focus {
        border-bottom: 2px solid $border-color;
      }
    }
  }

  .question {
    margin-bottom: 2rem;
  }
}

.btn {
  background: $background-color;
  display: inline-flex;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: inherit;
  margin-right: 0.5rem;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  color: $primary-button-background;

  &:hover {
    background: lighten($primary-button-background, 40%);
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &.primary {
    background: $primary-button-background;
    border: 1px solid $primary-button-background;
    color: $primary-button-color;

    &:hover {
      background: lighten($primary-button-background, 10%);
    }
  }
}

#templates {
  display: none;
}

.hidden {
  display: none;
}
