// This file represents the light theme

@import '~dragula/dist/dragula.css';
@import 'themes/dark';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  background: #fff;
  color: #000;
}

body {
  font: 75% verdana, tahoma, arial, sans-serif;
  overflow-x: hidden;
}

#wrapper {
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 200px;
}

span {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  padding: 6px 3px 3px 27px;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
}

#loading {
  font-size: 1.1em;
  text-align: center;
  padding-top: 10px;
}

.selected > span {
  background-color: #eee;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: block;
}

.hidden {
  display: none;
}

.folder {
  & > span {
    color: #000;
    background-image: url(folder_closed.png);
    background-position: 6px 3px;
    background-repeat: no-repeat;
    vertical-align: 2px;

    &:hover {
      background-color: #eee;
    }
  }

  &.open {
    & > span {
      background-image: url(folder_open.png);
    }

    & > .sub {
      padding: 0 0 2px 20px;
    }
  }
}

.bookmark {
  background-position: 6px 3px;
  background-repeat: no-repeat;

  &:hover {
    background-color: #eee;
  }
}

.sub {
  padding: 0 0 0 20px;
  height: 0;
  overflow: hidden;
}

.contextMenu, .contextMenu li {
  margin: 0;
  padding: 0;
}

.contextMenu {
  position: absolute;
  background: #eee;
  border: 1px solid #888;
  border-radius: 5px;
  z-index: 10;
  padding: 5px;
  cursor: pointer;

  hr {
    padding: 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #888;
  }

  li {
    border-radius: 5px;
    padding: 3px 5px;

    &:hover {
      background: #aaa;
      color: #ffff00;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
}

#overlayContents {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(200, 200, 200, 0.95);
  border-bottom: 1px solid #ccc;
  padding: 10px;
  z-index: 2;

  .row {
    clear: both;

    label {
      width: 60px;
      font-weight: bold;
      text-align: right;
      margin-right: 10px;
      padding-top: 5px;
    }

    input {
      display: block;
      border: 1px solid #ccc;
      padding: 5px 10px;
      width: calc(100% - 50px);
    }
  }

  .question {
    margin-bottom: 20px;
  }

  .actions {
  }
}

.btn {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: linear-gradient(to bottom, #ededed, #dfdfdf);
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #ffffff;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to bottom, #dfdfdf, #ededed);
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &.primary {
    box-shadow: inset 0 1px 0 0 #bbdaf7;
    background: linear-gradient(to bottom, #79bbff, #378de5);
    border: 1px solid #84bbf3;
    text-shadow: 1px 1px 0 #528ecc;
    color: #fff;

    &:hover {
      background: linear-gradient(to bottom, #378de5, #79bbff);
    }
  }
}

#templates {
  display: none;
}
